@use "getPaths";

* {margin: 0; padding: 0; box-sizing: border-box;}

span {color: getPaths.$colorEffect;}

html { font-size: 62.5%;}

body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: getPaths.$colorText;
    font-size: 62.5%;
    background-color: getPaths.$colorBackForm;
    background-image: url(../image/weighing-scale-gf8be5dc3b_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.information {
    padding: 8px;
    margin: 15px auto;
    background: getPaths.$backgroundInformation;
    width: 95%;
    border-radius: getPaths.$round_text;
    h1 {
        padding: 3px 6px;
        color: getPaths.$colorH1;
        font-style: italic;
        font-size: 2.1rem;
    } p {
        text-align: justify;
        padding: 6px;
        width: 100%;
        font-size: 1.6rem;
        letter-spacing: 0.7px;
        line-height: 2.1rem;
    } .question {
        color: getPaths.$colorEffect;
        font-size: 2rem;
    }
}

.container {
        display: flex;
        justify-content: space-between;
    form {
        border-bottom-left-radius: getPaths.$round_text;
        border-bottom-right-radius: getPaths.$round_text;
        box-shadow: 2px 2px 3px getPaths.$colorBackground;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        margin-left: 32px;
        padding: 10px;
        width: 25%;
        margin-bottom: 20px;
        background: getPaths.$colorBackForm;
    h2 {
        color: getPaths.$colorText2;
        margin: 0 8px;
        font-size: 2.5rem;
    } input  {
        margin: 2px auto;
        width: 95%;
        padding: 10px;
    } label {
        margin: 0 8px;
        padding: 5px 0;
        font-size: 2.5rem;
        color: getPaths.$colorText2;
    } button {
        font-weight: bold;
        border: none;
        color: rgb(116, 20, 20);
        margin: 9px;
        border-radius: getPaths.$round_text;
        padding: 6px;
        &:hover {
            background: getPaths.$colorEffect;
        }
    }
    .paragraphResult, .bad {
        border-radius:getPaths.$round_text ;
        margin: 2px auto;
        font-size: 2.2rem;
        color: getPaths.$backgroundInformation;
        width: 95%;
        background: getPaths.$colorEffect;
        padding: 10px;
    } .bad {
        background: rgb(190, 46, 46);
    }
  }  .list {
    border-bottom-left-radius: getPaths.$round_text;
    border-bottom-right-radius: getPaths.$round_text;
    box-shadow: 2px 2px 3px getPaths.$colorBackground;
    margin-right: 32px;
    padding: 10px;
    color: getPaths.$colorText2;
    font-size: 1.5rem;
    width: 25%;
    background: getPaths.$colorBackForm;
    margin-bottom: 20px;
  } ul li {
    margin-top:3px;
    margin-left: 25px;
    width: 90%;
  } h2 {
    margin: 0 7px;
  }
}
//Responsiveness.
@media (max-width:840px) {
    html {font-size: 48%;}
    .container form h2 {font-size: 1.8rem;}
    .container .list h2 {font-size: 1.8rem; margin: 5px;}
    .list ul li {margin-left: 14px;}
}
@media (min-width:635px) and (max-width:750px) {
    .container {justify-content: space-around;}
    form, .list {margin-bottom: 25px; h2 {font-size: 1.7rem;}}
    form label, input {font-size: 1.3rem;}
    .list ul li {margin-left: 12px;}
}
@media (max-width:634px) {
    .container {flex-direction: column; margin: 10px;}
    .container form, .list {margin:10px 10px;}
    .container form {width: 80%;}
    .container .list {width: 90%;}
}
@media (min-width:605px) and (max-width:840px) {body {height: 100vh;}} //Para manter a imagem de fundo em toda a tela
@media (max-width:605px) {
body {
    height: 100%;
    background-image: url(../image/weighing-scale-gacb689904_640.jpg); 
     background-repeat: no-repeat; background-size: cover;}
}