* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: #00B2EE;
}

html, body {
  color: #363636;
  font-size: 62.5%;
  background-color: aqua;
  background-image: url(../image/weighing-scale-gf8be5dc3b_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.information {
  padding: 10px;
  margin: 15px auto;
  background: #F8F8FF;
  width: 80%;
  border-radius: 10px;
}
.information h1 {
  padding: 5px;
  color: #6b6a6a;
  font-size: 2.1rem;
}
.information p {
  text-align: justify;
  padding: 6px;
  width: 100%;
  font-size: 1.7rem;
  line-height: 2.2rem;
}
.information .question {
  color: #00B2EE;
  font-size: 2rem;
}