* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: #00B2EE;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #363636;
  font-size: 62.5%;
  background-color: #054257;
  background-image: url(../image/weighing-scale-gf8be5dc3b_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.information {
  padding: 8px;
  margin: 15px auto;
  margin-bottom: 20px;
  background: #F8F8FF;
  width: 95%;
  border-radius: 10px;
}
.information h1 {
  padding: 3px 6px;
  color: #6b6a6a;
  font-style: italic;
  font-size: 2.1rem;
}
.information p {
  text-align: justify;
  padding: 6px;
  width: 100%;
  font-size: 1.6rem;
  letter-spacing: 0.7px;
  line-height: 2.1rem;
}
.information .question {
  color: #00B2EE;
  font-size: 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
}
.container form {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 3px #077a7a;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: 32px;
  padding: 10px;
  width: 25%;
  margin-bottom: 20px;
  background: #054257;
}
.container form h2 {
  color: #F8F8FF;
  margin: 0 8px;
  font-size: 2.5rem;
}
.container form input {
  margin: 2px auto;
  width: 95%;
  padding: 10px;
}
.container form label {
  margin: 0 8px;
  padding: 5px 0;
  font-size: 2.5rem;
  color: #F8F8FF;
}
.container form button {
  font-weight: bold;
  border: none;
  color: #741414;
  margin: 9px;
  border-radius: 10px;
  padding: 6px;
}
.container form button:hover {
  background: #00B2EE;
}
.container form .paragraphResult, .container form .bad {
  border-radius: 10px;
  margin: auto;
  font-size: 1.6rem;
  color: #F8F8FF;
  width: 95%;
  background: #00B2EE;
  padding: 4px;
}
.container form .bad {
  background: #be2e2e;
}
.container .list {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 3px #077a7a;
  margin-right: 32px;
  padding: 10px;
  color: #F8F8FF;
  font-size: 1.5rem;
  width: 25%;
  background: #054257;
  margin-bottom: 20px;
}
.container ul li {
  margin-top: 3px;
  margin-left: 25px;
  width: 90%;
}
.container h2 {
  margin: 0 7px;
}

footer {
  margin: 5px;
  font-size: 1rem;
}

.end-page a {
  color: #077a7a;
  text-decoration: none;
}

@media (min-width: 1116px) {
  footer {
    position: absolute;
    bottom: 0;
  }
}
@media (max-width: 840px) {
  html {
    font-size: 48%;
  }

  .container form h2 {
    font-size: 1.8rem;
  }

  .container .list h2 {
    font-size: 1.8rem;
    margin: 5px;
  }

  .list ul li {
    margin-left: 14px;
  }
}
@media (min-width: 635px) and (max-width: 750px) {
  .container {
    justify-content: space-around;
  }

  form, .list {
    margin-bottom: 25px;
  }
  form h2, .list h2 {
    font-size: 1.7rem;
  }

  form label, input {
    font-size: 1.3rem;
  }

  .list ul li {
    margin-left: 12px;
  }
}
@media (max-width: 634px) {
  .container {
    flex-direction: column;
    margin: 10px;
  }

  .container form, .list {
    margin: 10px;
  }

  .container form {
    width: 80%;
  }

  .container .list {
    width: 90%;
  }
}
@media (min-width: 684px) and (max-width: 840px) {
  body {
    height: 100vh;
  }
}
@media (max-width: 684px) {
  body {
    height: 100%;
    background-image: url(../image/weighing-scale-gacb689904_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 319px) and (max-width: 450px) {
  body {
    height: 100vh;
  }

  .information {
    display: none;
  }

  footer {
    position: absolute;
    bottom: 0;
  }
}